/build/*
/Server/*
/ServerLobby/*
.gradle/*
/decompiled/*
/HytaleGames/*
/core/build/*
/lobby-mod/build/*
core/build/classes/java/main/dev/chasem/hg/core/service/PlayerLoadoutService.class
.idea/*
/DebugBorder-1.0.0.jar_Decompiler.com/*
HytaleBaseGameAssets
